*{
    font-family: "Fira Sans", serif;
    /* margin: 24px 160px; */
}  
.fira-sans-thin {
    /* font-family: "Fira Sans", serif; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 24px 160px; */
    width: 1600px;
    height: 100px;
    padding: 31px 1228px 31px 160px;
}
.signin{
    text-decoration: none;
    color: #006A50;
}

.nav-tittle{
    font-size:  32px;
    font-weight: 700;
}

nav ul li {
   list-style:none;
}
button{
    color: #006A50;
    font-weight: 600;
    font-size: 18px;
    background-color:rgb(255, 255, 255) ;
    padding: 17px 34px;
    border-radius: 8px;
    border-color:#006A50;   
}


/* banner style */
/* style="color: #afaeae; font-weight: 500; font-size: 24px;" */

.banner{
    background-color: #C6E4D6;
    /* width: 1360.03px; 
    height: 560px; */
    border-radius: 24px;
    /* margin: 24px 160px; */
    margin: 25px 119.99px 55px 119.99px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    padding: 117px 200px 117px 100px;
    max-width: 600px;
}
.banner-image{ 
    margin: 80px 100px 80px 100px;
}

.btn-primary{
    color: #FFFFFF; 
    text-decoration: none;   
    padding: 17px 34px;  
}
.button{
  background-color: #006A50;
}
.BD{
    color:#afaeae;
    font-weight:550;
    font-size: 24px;
}
.gtext{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 56px;
}




/* newsletter section style */

.newsletter-container{
        background-color:#C6E4D6 ;
        border-radius: 24px;
        margin: 80px 160px 80px 160px;
        text-align: center;
        padding: 80px 265px ;  
}
.newsletter-container form {
    display: flex;
    /* justify-content: center; */
}
.newsletter-container input[type="email"] {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    width: 600px;
    height: 40px;
    padding: 18px 403px 18px 40px;
    font-weight: 400px;
    font-size: 19px; 
}
.newsletter-container h2{
    /* padding-bottom: 0px; */
    font-weight: bold;
    font-size: 40px;
}
.greetings{
   text-align: center;
   width: 622px;
   height: 48px;
   margin-bottom: 24px;
   margin-left: 250px;
   margin-top: 0px;
   font-weight: 400;
   font-size: 20px;
   color: #747474;
}

.footer-text{
   font-weight: 400;
   font-size: 20px;
   color: #747474;
   margin-top: 24px;
}

.newsletter-container button{
           padding: 17px 34px;
           color: #fdfffe;
           background-color: #006A50;
           border: none;
           font-weight: 600;
           font-size: 18px;

}

/*******BD 2.0 Section Style******* */

.BD2{
    font-weight: bold;
    font-size: 40px;
    margin-left: 160px;
}

.pillars-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 32px 160px;
    
}

.pillar-card{
    border: 1px solid;
    text-align: left;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 25px;
}

.pillar-card h3{
font-size: 25px;
font-weight: 500;
}



.pillar-card p{
     font-weight: 500;
     font-size: 20px;
     color: #747474;
}


/******The Vision Of Future Style********* */

.future h3{
    font-weight: bold;
    font-size: 40px;
    margin: 80px 0px 24px 160px;
}
.future p{
    font-weight: 500;
    font-size: 20px;
    color: #747474;
    margin: 0px 160px 24px 160px;
}
.visbordad{
   display: flex;
   gap: 40px;
   margin: 0px 160px 24px 160px;    
}

.visbor{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 25px;
    width: 490px;
    height: 325px;
}

.visbor img{
    margin: 33px 15px 0px 33px;
}


.visbor h3{
   font-weight: bold;
   font-size: 20px;
   margin: 30px 32px 12px 32px;
}

.visbor p{
    font-weight: 500;
    font-size: 20px;
    margin: 0px 32px 15px 32px;
}

.visbor button{
    margin-left: 32px;
}

.visbor a{
    text-decoration: none;
    color: #ffffff;
}



/********** The Testimonial Section Style **********/

.testimonial{
    border: 1px solid #e0e0e0;
    width: 1662px;
    height: 250px;
    margin: 0px 160px 80px 160px;
    border-radius: 10px;
    
}
.yunusgreet{
    font-weight: 500;
    font-size: 20px;
    color: #747474;
    padding: 25px 20px 0px 20px;
}
.yunus{
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 10px;

}
.cheifadvisor{
    font-weight: 500;
    font-size: 20px;
    color: #747474;
    padding-left: 20px;
    margin-top: 5px;
}

.yunus-section{
    margin: 25px 20px 0px 20px;
    background-image:    url("../assets/quote-bg.png");
    background-repeat:   no-repeat;
}

/********Recent Section Style********/

.recent{
    display: flex;
    gap: 32px;
    padding: 48px 48px;
    margin: 32px 160px 34px 160px;
    background-color:whitesmoke;
    border-radius: 10px;
}

.sateliteimg {
    width: 1080px;
    height: 309px;    
    border-radius: 24px;
    margin-top: 20px;
}

.recent div h3{
    font-weight: bold;
    font-size: 32px;
    width: 134;
    height: 40;
    margin-bottom: 12px;
}

.recent p{
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    color: #747474;
}

.datetime{
    font-size: 19px;
    color: #747474;
    font-weight: 500;
    margin-top: 10px;
}

.recentbutton{
    background-color: #006A50;
    border: none;
}

.recentbutton a{
    text-decoration: none;
    color: #FFFFFF;   
}

.recentheading{
    margin:80px 160px 32px 160px;
}

.recentheading h2{
   font-weight: bold;
   font-size: 40px;
}

.recentheading p{
    font-weight: 500;
    font-size: 20px;
    color: #747474;
}

